.bgimage {
  background-image: url("/assets/images/YelpCampBg.jpg");
  background-size: cover;
  background-position-y: 40%;
}

.navbar {
  @apply flex;
  @apply justify-between;
  @apply items-center;
  @apply flex-row;
  @apply mx-auto;
  @apply w-full;
  @apply h-24;
  @apply px-4;
  @apply text-white;
  @apply bg-gradient-to-b from-black/70 to-black/0;
}
